/* *{background-color: black;
color: white } - Dark mode */
header{
    background-color: #003549;
    color:white; 
    border-radius: 10 px;
}



h2{
    text-decoration: underline;
}
img{
    float: left ;
    width: 50%;
    padding-left:10 px;
    height: 300px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.label{
    display: inline-flex;
    padding-left: 6% ;
    padding-right: 30%;
}


#greece-img .label{
    display: inline-flex;
    padding-left: 4% ;
    padding-right: 30%;
}
